#top {
    position: relative;
    margin: 0px 0px 10px 0px;
}
#contenedor{
    margin: 0 auto; 
    text-align: left;  
}

#contenedor_central{
    height: 500px;
    
}
#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}
#left {
    width: 60em;
    margin:  auto;
   padding-left: 12em;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#menuSesion{
    font-size: 0.9em;
    padding-bottom: 12px;
    height: 20px;
    background-color: #E0E0E0;
    border-color: #E0E0E0;
    margin-bottom: 20px;
}

body{
    background-color: #909090; 
}

#formTop{
    width: 60em;
    margin:  auto;
    border: 4px;
    border:solid;
    border-color: #484848;
    border-width: 2px;
    border-radius: 5px;
}

iconos{
     background-color: #909090; 
    
}

footerTexto{
    
    
}