#top {
    position: relative;
    margin: 0px 0px 10px 0px;
}
#contenedor{
    margin: 0 auto; 
    text-align: left;  
}

#contenedor_central{
    height: 500px;
    margin-top: 40px;
    
}
#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}
#left {
    width: 60em;
    margin:  auto;
   padding-left: 12em;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: transparent;
    padding: 5px;
    margin-left: 190px;
    margin-right: 190px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

.menuSesion{
    font-size: 0.9em;
    padding-bottom: 12px;
    //height: 20px;
    background-color: #E0E0E0;
    border-color: #E0E0E0;
    //margin-bottom: 20px;
}

#tooplate_middle{
    clear: both;
    height: 30px;
    margin: 0 auto;
    padding: 20px 40px;
}

body{
    background-color: #909090; 
    background-image: url("#{resource['images/lol.jpg']}");
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment:fixed;
    margin: 0px;
}

.formTop{
    width: 65em;
    margin:  auto;
    border: 4px;
    border:solid;
    border-color: #484848;
    border-width: 2px;
    border-radius: 5px;
    padding-top: 20px;
}

.formTop2{
    width: 55em;
    margin:  auto;
    border: 4px;
    border:solid;
    border-color: #484848;
    border-width: 2px;
    border-radius: 15px;
    padding-top: 20px;
    font-size: large;
}


#pie{
    color: white;
    text-align: center;
    
}



.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}