.contenedorLogin{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 15%;
    text-align: center;
}

.formulario{
    background-color: #F3F3F3;
    border-radius: 7px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), 0px 0px 4px white inset, 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 400px;
    -webkit-animation: entrada 1s;
    -moz-animation: entrada 1s;
    -ms-animation: entrada 1s;
    -o-animation: entrada 1s;
    animation: entrada 1s;
}

@-webkit-keyframes entrada
{
    0%
    {
        margin-top: -1000px;
        -webkit-transform: rotate(360deg);
    }
    75%
    {
        margin: 30px auto;
    }
    100%
    {
        margin: 0px auto;
        -webkit-transform: rotate(0deg);
    }
}
  
@-moz-keyframes entrada
{
    0%
    {
        margin-top: -1000px;
        -moz-transform: rotate(360deg);
    }
    75%
    {
        margin: 30px auto;
    }
    100%
    {
        margin: 0px auto;
        -moz-transform: rotate(0deg);
    }
}
  
@-ms-keyframes entrada
{
    0%
    {
        margin-top: -1000px;
        -ms-transform: rotate(360deg);
    }
    75%
    {
        margin: 30px auto;
    }
    100%
    {
        margin: 0px auto;
        -ms-transform: rotate(0deg);
    }
}
  
@-o-keyframes entrada
{
    0%
    {
        margin-top: -1000px;
        -o-transform: rotate(360deg);
    }
    75%
    {
        margin: 30px auto;
    }
    100%
    {
        margin: 0px auto;
        -o-transform: rotate(0deg);
    }
}
  
@keyframes entrada
{
    0%
    {
        margin-top: -1000px;
        transform: rotate(360deg);
    }
    75%
    {
        margin: 30px auto;
    }
    100%
    {
        margin: 0px auto;
        transform: rotate(0deg);
    }
}
